<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
	    <Property name="layout">%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{36} - %msg%n</Property>
	</Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
        <File name="File1" fileName="src/main/resources/logging/File1.log" append="true">
            <PatternLayout pattern="${layout}"/>
        </File>
        <File name="File2" fileName="src/main/resources/logging/File2.log" append="true">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile"/>
        </Root>
		    <Logger name="Logger1" level="INFO" additivity="true">
		        <appender-ref ref="File1" level="debug"/>
		    </Logger>
		    <Logger name="Logger2" level="INFO" additivity="true">       
		        <appender-ref ref="File2" level="debug"/>
		    </Logger>
    </Loggers>
</Configuration>